@use "src/styles/constants" as *;


@media (min-width: $break-point) {
  .Index {
  
    &__text {
      background-color: $c-bc-main;
      color: $c-text-light;
      position: absolute;
      top: 53%;
      left: 55%;
      transform: translate(-50%, -50%);
      width: 47%;
      padding: 5%;
      padding-right: 2%;
      padding-left: 12%;

      > h1 {
        padding-bottom: 18px;
        font-size: 2.8rem;
        line-height: 1.2;
      }

      > p {
        font-size: 1.2rem;
      }
    }
  
    &__img {
      position: absolute;
      top: 45%;
      left: 75%;
      transform: translate(-50%, -50%);
      width: 100%;
  
      &__container {
        width: 16%;
        position: relative;
    
        &__profile {
          width: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          object-fit: cover;
        }
      }
    }
  }
}