@use "src/styles/constants" as *;

.Projects {
    
}

@media (min-width: $break-point) {
  .Projects {
    height: calc(100% - 20%);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    &__main {
      height: 100%;
      width: 50%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;

      .cosa {
        width: 400px;
      }
    }

    &__secondary {
      height: 100%;
      width: 50%;
    }
  }
}