@use "src/styles/constants" as *;

.Projects {
    
}

@media (min-width: $break-point) {
  .Projects {
    height: calc(100% - 20%);
    width: calc(100% - 30px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    &__card {
      text-decoration: none;
      color: $c-text-light;
    }
  }
}